.guide-row {
  padding: 0.25rem;
  text-align: left;
  border-bottom: solid 1px lightgray;
}

.current-guide {
  text-align: left;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: solid 1px lightgray;
}
