.item-row .gear-value{
  margin: 0;
}

.item-row .gear-value{
  border: 0;
  border-bottom: solid 1px lightgray;
  cursor: pointer;
}

.current-guide {
  text-align: left;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: solid 1px lightgray;
}
