.class-row {
  cursor: pointer;
  width: 100%;
  border-bottom: solid 1px lightgray;
  display: flex;
}

.fa-class-icon {
  font-size: 25px;
  width: 35px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.class-row-character-name{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  font-weight: bold;
}

.class-row-character-name h2{
  font-size: 1.3rem;
  margin: 0;
}

.class-row-character-name p{
  font-size: 0.7rem;
  margin: 0;
  color: brown;
}

.class-row-character-name .source{
  font-size: 0.7rem;
  margin: 0;
  color: gray;
}

.class-row-dice-count {
  display: flex;
  align-items: center;
  width: 20px;
  font-weight: bold;
  margin-left: 0.2rem;
}

.class-row-character-btn {
  padding: 0;
  width: 80px;
  border-radius:5px;
}

.class-row-class-btn {
  height: auto;
  width: 30px;
  color: black;
  filter: brightness(0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.class-row-divider {
  height: auto;
  margin: 1rem;
  color: black;
  border-left: 1px solid black;
  filter: brightness(0);
  display: flex;
  align-items: center; /* Vertical */
  justify-content: center; /* Horizontal */
}

.date-saved {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 200px;
}
