.hero-heading-image {
  max-width: 100px;
  width: 100%;
  margin-bottom: 40px;
}

.hero-subheading {
  color: white;
}

.hero-filter-input {
  width:50%;
  padding:1rem;
}

.hero-button-row {
  margin-top: 5rem;
}

.stores-button-row {
  height: 0;
}

.willpower-points {
  margin: auto;
  max-width: 430px;
}

.special-dicerolls {
  color: white;
  text-align: center;
  padding: 1rem;
  width: 100%;
  display: block;
}

.btn {
  background: black;
  /*background: #205081;*/
  height: 55px;
  width: 55px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  margin: 0.2rem;
  font-weight: bold;
  border-radius: 50px;
}
.btn:focus {
  outline: 0;
  color: white;
}
.btn:hover {
  color: white;
}

.die-container {
  margin-top: 30px
}

.toggle-dice-menu-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 15px;
  border-radius:50px;
  z-index:99999;
}

.rotate-dice-btn {
  position: absolute;
  top: 30px;
  right: 5px;
  padding: 15px;
  border-radius:50px;
  z-index:99999;
}

.home-btn {
  position: absolute;
  top: 65px;
  left: 5px;
  padding: 15px;
  border-radius: 50px;
  z-index: 99999;
}

.top-btns {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index:99999;
}

.top-btns .btn{
  background: black;
}

.save-successful {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  /*left: 70px;*/
  background: black;
  color: white;
  padding: 15px;
  z-index:99999;
}

.dices {
  position: absolute;
  right: 0;
  top: 70px;
  padding: 1rem;
  margin: 1rem;
  background: rgba(1, 1, 1, 0.4);
  border-radius: 5px;
}

.dice-box {
  height: 100%;
  width: 100%;
  position: fixed;
  background: rgba(1, 1, 1, 0.9);
}

.dice-btn {
  padding: 15px;
  border-radius:50px;
  margin-top: 5px;
}

.total-rolled-count {
  margin:20px;
  font-size: 1.5rem;
  color: white;
}

.dice-roll-option-btn {
  margin-bottom: 1rem;
  width: 100%;
  background: black;
  padding: 15px;
  border-radius:50px;
  color: white;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
}

.dice-roll-option-btn:last-child {
  margin-bottom: 0;
}

.small-btn {
  background: #05182b;
  padding: 5px 10px;
  font-size:9px;
  line-height: 15px;
}

.inactive-filter-btn {
  background: grey;
  opacity: 0.5;
  color: darkgray;
  border-radius: 50px;
}

.willpower-icon {
  height: 21px;
  width: 21px;
  display: inline-block;
  background: url('../img/tulip.png') no-repeat bottom center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  border-radius: 0;
}

.dice-menu {
  position: fixed;
  width: 100%;
  z-index:9999999;
}

.dice {
  margin-left: 0.2rem;
  font-size: 2rem;
  /*color: #205081;*/
}

.unclickable {
  cursor: default;
}
