.dice-container {
    float: left;
    margin: 20px;
    position: relative;
    perspective: 500px;
    width: 100px;
    height: 100px;
}

.dice-title {
    color: white;
    margin-top: 1rem;
}

#dice {
    position: absolute;
    transition: transform .25s;
    transform-style: preserve-3d;
    transform: translateZ(-50px);
    width: 100%;
    height: 100%;
    background-color: white;
}

.default {
    color: black;
}

.ranged {
    color: #19591a;
}

.white {
    color: #0077b3;
}

#dice.black .side {
    background-color: black;
    color: white;
}

#dice.rolling {
    animation: rotation .75s linear;
}

@keyframes rotation {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }
    to {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

#dice .side {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 98px;
    height: 98px;
    background-color: inherit;
    border: 2px solid #000000;
    font-size: 4em;
    font-weight: bold;
}

/*
   D6
*/
.d6 .side:nth-child(1) {
    transform: rotateY(0deg) translateZ(50px);
}
.d6 .side:nth-child(2) {
    transform: rotateX(180deg) translateZ(50px);
}
.d6 .side:nth-child(3) {
    transform: rotateY(90deg) translateZ(50px);
}
.d6 .side:nth-child(4) {
    transform: rotateY(-90deg) translateZ(50px);
}
.d6 .side:nth-child(5) {
    transform: rotateX(90deg) translateZ(50px);
}
.d6 .side:nth-child(6) {
    transform: rotateX(-90deg) translateZ(50px);
}
