.gear-item {
  display: flex;
  flex: 1 1 0;
}

.gear-value {
  width: 100%;
  padding:5px;
  border: solid 1px lightgray;
  margin-bottom: 5px;
  margin-top: 5px;
}

.gear-delete-button {
  border: solid 1px lightgray;
  margin-right: 0;
  margin-left: 0;
}

.supported-item-details {
  flex: 0 0 100%;
  flex-shrink: inherit;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.supported-item .gear-value {
  text-align: left;
  display: flex;
  flex: 1 1 0;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.supported-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gear-delete-button{
  margin-left: 1rem;
}

.supported-item-image {
  width: 120px;
  height: auto;
  flex: 0 0 auto;
  /*background-color: lightgray;*/
}

.supported-item-use-button {
  display: block;
  background-color: black;
  border-radius: 9px;
  border: 0;
  padding: 1rem;
  color: white;
}
